<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="output.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <div class="content">
            <div class="seatcheckout">
                <div class=" header">
                    <div class="choice" style="font-size:14px;font-weight: bold">
                        01 CHỌN GHẾ & THANH TOÁN
                    </div>
                    <div class="result" style="text-align:left ;font-size:14px;font-weight: bold;">
                        02 KẾT QUẢ ĐẶT VÉ
                    </div>
                    <div class="avatar">
                        <img src="avatar.png" alt="Avatar" class="avatar">
                        avatars
                    </div>
                </div>
                <div class="seat">
                    <div class="left">
                    </div>
                    <div class="right">
                        <div class="top">
                            <div style="display: flex;">
                                <img src="cgv.jpeg" alt="Avatar" class="avatar" style="width: 50px;height: 50px;">
                                <div style="display: flex;flex-direction: column;">
                                    <label for="">CGV - Crescent Mall</label>
                                    <label for="">Hôm nay - 15:10 - Cinema </label>
                                </div>
                            </div>
                            <div style="font-weight: bold;">
                                THỜI GIAN DỮ GHẾ
                                <p>5:00</p>
                            </div>
                        </div>
                        <div style="height:10px;background-color: black;"></div>
                        <div class="main">
                            <div style="font-weight: bold;"> MÀN HÌNH</div>
                        </div>
                        <div style="text-align: center;">
                            <table style="width: 100%;">
                                <tr>
                                    <th>A</th>
                                    <th><i class="material-icons" style="font-size:48px;color:red">weekend</i></th>
                                    <th><i class="material-icons" style="font-size:48px;color:red">weekend</i></th>
                                    <th><i class="material-icons" style="font-size:48px;color:red">weekend</i></th>
                                    <th><i class="material-icons" style="font-size:48px;color:red">weekend</i></th>
                                    <th><i class="material-icons" style="font-size:48px;color:red">weekend</i></th>
                                    <th><i class="material-icons" style="font-size:48px;color:red">weekend</i></th>
                                    <th><i class="material-icons" style="font-size:48px;color:red">weekend</i></th>
                                </tr>
                                <tr>
                                    <td>B</td>
                                    <td> <i class="material-icons" style="font-size:48px;color:red">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:red">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:red">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:red">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:red">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:red">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:red">weekend</i> </td>

                                </tr>
                                <tr>
                                    <td>C</td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>

                                </tr>
                                <tr>
                                    <td>D</td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>

                                </tr>
                                <tr>
                                    <td>E</td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>

                                </tr>
                                <tr>
                                    <td>F</td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>
                                    <td> <i class="material-icons" style="font-size:48px;color:blue">weekend</i> </td>

                                </tr>
                            </table>



                        </div>

                    </div>

                </div>
            </div>

            <div class="pay">
                <div class="pay-content">
                    <div class="form">
                        <label for="" style="border-bottom: 1px dotted gray;color: red;">
                            <h3>0 d</h3>
                        </label>
                        <div style="color: blue;"> 
                            <i class="material-icons" style="font-size:24px;color:red;">movie_filter</i>
                            Bán Đảo
                        </div>
                        <div style="color: blue;">CGV - Thảo Điền Pearl
                        </div>
                        <label for="" style="border-bottom: 1px dotted gray;color: blue;"> Ngày mai
                            22/07/2020 - 12:30 - Cinema
                            5</label>
                        <div
                            style="border-bottom: 1px dotted gray;display: inline;display: flex;justify-content: space-between;">
                            <div>
                                <h5> Ghế</h5>
                            </div>
                            <div>
                                <h5 style="color: red;"> o d</h5>
                            </div>
                        </div>
                        <div
                            style="border-bottom: 1px dotted gray;display: inline;display: flex;justify-content: space-between;">
                            <div>
                                <h5> Chọn Combo</h5>
                            </div>
                            <div>
                                <h5 style="color: red;"> o d</h5>
                            </div>
                        </div>
                        <div style="text-align: left;border-bottom: 1px dotted gray; padding: 5px 0;">
                            <label for=""> E- mail</label>
                            <input style="border: none; border-bottom: 1px dotted black;" type="text" name="" id="">
                        </div>
                        <div style="text-align: left;border-bottom: 1px dotted gray; padding: 5px 0;">
                            <label for=""> Phone</label>
                            <input style="border: none; border-bottom: 1px dotted black;" type="text" name="" id="">
                        </div>
                        <div style="text-align: left;border-bottom: 1px dotted gray; padding: 5px 0;">
                            <label for="">Mã giảm giá</label>
                            <input style="border: none; border-bottom: 1px dotted black;" placeholder="nhap tai day..."
                                ; type="text" name="" id="">
                        </div>
                        <div style="border-bottom: 1px dotted gray;display: inline;">
                            <div>
                                <div> Hình thức thanh toán</div>
                            </div>
                            <div>
                                <div style="color:red;font-size:10px"> Vui lòng chọn ghế để hiển thị phương thức thanh
                                    toán phù hợp.</div>
                            </div>
                        </div>





                    </div>
                    <div class="buy">
                        <div style="text-align: center; color:blueviolet">
                            <div> Vé đã mua không thể đổi hoặc hoàn tiền</div>
                            <div> Mã vé sẽ được gửi qua tin nhắn ZMS (tin nhắn Zalo) và Email đã nhập.</div>
                        </div>
                        <button class="button button1">Pay</button>

                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>