<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="navbar">
            <div class="logo">
                <img src="./image/image.jpeg" alt="" style="width: 35px;height: 35px;">
            </div>
            <div class="menu">
                <div>Lịch Chiếu</div>
                <div>Cụm rạp</div>
                <div>Tin Tức</div>
                <div> Ứng dụng</div>
            </div>
            <div class="login">
                <div class="avatar">
                    <img src="./image/avatar.png" alt="Avatar" class="avatar">
                </div>
                <div style="margin-right: 10px;">Đăng Nhập </div>
                <div class="location">
                    <div style="padding-right: 5px;">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div style="padding-right: 5px;">
                        Hồ Chí Minh
                    </div>
                    <i class="fa fa-map-marker"></i>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-top">
                <div class="content-top-main">
                    <img src="./image/sddt.jpg" alt="Avatar" class="avatar" style="width: 250px;height:400px;border-radius: 5px;">
                    <div class="film-name">
                        <div style="font-size: 18px;"> 14.02.2020</div>
                        <div style="font-size: 28px;"> <span
                                style="padding: 3px;background-color: red;border-radius: 10px;font-size: 25px;">c16</span>
                            Sắc Đẹp Dối Trá - The Drama Queen</div>
                        <div style="font-size: 18px;"> 91 phút - 0 IMDb - 2D/Digital</div>
                    </div>
                    <div class="rate">
                        <img src="./image/rate.jpg" alt="Avatar" class="vote">
                        <div style="width:200px;">
                            <i class="fa fa-star" style="font-size:48px;color:yellow"></i>
                            <i class="fa fa-star" style="font-size:48px;color:yellow"></i>
                            <i class="fa fa-star" style="font-size:48px;color:yellow"></i>
                        </div>
                        <div style="font-size: 18px;color: whitesmoke;"> 270 người đánh giá</div>
                    </div>
                </div>
            </div>
            <div class="content-bottom">
                <div class="content-bottom-main">
                    <table style="width:100%">
                        <div style="margin: 20px 0; display: flex;justify-content: space-around;">
                            <div style="margin-right: 50px; color: red;">Thông Tin </div>
                            <div style="cursor: pointer;" onMouseOver="this.style.color='yellow'"
                                onMouseOut="this.style.color='white'">Đánh Giá</div>
                        </div>
                        <tr>
                            <th style="width: 150px;"> Ngày công chiếu</th>
                            <th class="text-normar" style="width: 300px;">14.02.2020</th>
                            <th> Nội dung</th>
                        </tr>
                        <tr>
                            <td>Đạo diễn</td>
                            <td class="text-normar"> Kay Nguyễn</td>
                            <td rowspan="6" class="text-normar">Phim xoay quanh câu chuyện cuộc đời của Dương - một anh
                                chàng cascadeur
                                nhưng lại mang trong mình khát khao trở thành phụ nữ. Một ngày nọ, ước mơ ấy bỗng phải
                                trở thành hiện thực ngay lập tức khi Dương tình cờ chứng kiến một vụ giết người và buộc
                                phải thay đổi nhân dạng để lẩn trốn. Sau cuộc phẫu thuật chuyển giới, cha của Dương đột
                                ngột lâm bệnh nặng, khiến cô phải bất đắc dĩ tham gia vào một cuộc thi Hoa hậu để có đủ
                                tiền lo viện phí cho cha. Kể từ đó, rất nhiều tình huống bi hài và nguy hiểm không ngừng
                                xảy đến với cô. Cùng đoán xem Dương sẽ phải trải qua những gian truân như thế nào?</td>
                        </tr>
                        <tr>
                            <td>Diễn viên</td>
                            <td class="text-normar">Hương Giang, Puka</td>
                        </tr>
                        <tr>
                            <td>Thể Loại</td>
                            <td class="text-normar">hài hước, hành động</td>
                        </tr>
                        <tr>
                            <td>Định dạng</td>
                            <td class="text-normar">2D/Digital</td>
                        </tr>

                        <tr>
                            <td>Quốc Gia SX</td>
                            <td class="text-normar">Việt Nam</td>
                        </tr>
                    </table>
                    <div class="news">
                        <div style="margin-bottom: 30px;" class="text-normar"> Tin liên quan</div>
                        <img src="./image/huonggiang.jpg" alt="Avatar" class="avatar"
                            style="width: 350px;height:200px;">
                        <div class="text-normar" style="cursor: pointer;width: 400px;font-size: 18px;"
                            onMouseOver="this.style.color='blue'" onMouseOut="this.style.color='white'">
                            [Review] Sắc Đẹp Dối Trá - Hương Giang kể chuyện đời mình qua phim ...
                        </div>
                        <div style="margin:  10px 0;">
                            <i class='fas fa-hand-point-right' style='font-size:24px'> 0 </i>&nbsp;
                            <i class='far fa-comment' style='font-size:24px'> 0</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="footer-top">
                    <div>
                        <table style="width:100%;margin-right: 50px;" class="normal">
                            <tr>
                                <th>TIX</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td onMouseOver="this.style.color='red'" onMouseOut="this.style.color='white'">FAQ</td>
                                <td  onMouseOver="this.style.color='red'" onMouseOut="this.style.color='white'">Thỏa thuận sử dụng</td>
                            </tr>
                            <tr>
                                <td  onMouseOver="this.style.color='red'" onMouseOut="this.style.color='white'"> Brand Guidelines</td>
                                <td  onMouseOver="this.style.color='red'" onMouseOut="this.style.color='white'"> Chính sách bảo mật</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table style="width:100%" class="normal">
                            <tr>
                                <th colspan="4">ĐỐI TÁC</th>

                            </tr>
                            <tr>
                                <td>
                                    <div class="avatar">
                                        <img src="./image/image.jpeg" alt=""  class="items">
                                    </div>
                                </td>
                                <td> <img src="./image/image.jpeg" alt="" class="items">
                                </td>
                                <td> <img src="./image/image.jpeg" alt="" class="items">
                                </td>
                                <td> <img src="./image/image.jpeg" alt="" class="items">
                                </td>
                            </tr>
                            <tr>
                                <td> <img src="./image/image.jpeg" alt="" class="items">
                                </td>
                                <td> <img src="./image/image.jpeg" alt="" class="items">
                                </td>
                                <td> <img src="./image/image.jpeg" alt="" class="items">
                                </td>
                                <td> <img src="./image/image.jpeg" alt="" class="items">
                                </td>
                            </tr>
                            <tr>
                                <td> <img src="./image/image.jpeg" alt="" class="items">
                                </td>
                                <td> <img src="./image/image.jpeg" alt="" class="items">
                                </td>
                                <td> <img src="./image/image.jpeg" alt="" class="items">
                                </td>
                                <td> <img src="./image/image.jpeg" alt="" class="items">
                                </td>
                            </tr>
                            <tr>
                                <td> <img src="./image/image.jpeg" alt="" class="items">
                                </td>
                                <td> <img src="./image/image.jpeg" alt="" class="items">
                                </td>
                                <td> <img src="./image/image.jpeg" alt="" class="items">
                                </td>
                                <td> <img src="./image/image.jpeg" alt="" class="items">
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div>
                        <table style="width:100%;" class="normal">
                            <tr>
                                <th colspan="2">MOBILE APP</th>
                                <th colspan="2">SOCIAL</th>
                            </tr>
                            <tr>
                                <td> <img src="./image/apple.png" alt="" class="items">
                                </td>
                                <td> <img src="./image/android.png" alt="" class="items">
                                </td>
                                <td> <img src="./image/fb.jpeg" alt="" class="items">
                                </td>
                                <td> <img src="./image/zalo.png" alt="" class="items">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="info" style="margin: 20px 0; display: flex;">
                        <div style="margin-right:  20px;">
                            <img src="./image/cgv.png" alt="Avatar" style="width: 200px;height:200px;">
                        </div>
                        <div style="font-size:  16px;" class="text-normar">
                            <p>TIX – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN ZION</p>
                            <p>
                                Địa chỉ: Z06 Đường số 13, Phường Tân Thuận Đông, Quận 7, Tp. Hồ Chí Minh, Việt Nam.
                            </p>
                            <p>
                                Giấy chứng nhận đăng ký kinh doanh số: 0101659783,
                            </p>
                            <p>
                                đăng ký thay đổi lần thứ 30, ngày 22 tháng 01 năm 2020 do Sở kế hoạch và đầu tư Thành
                                phố Hồ
                                Chí Minh cấp.
                                Số Điện Thoại (Hotline): 1900 545 436
                            </p>
                            Email:
                            <a style="color: red;" href=" support@tix.vn"> support@tix.vn</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>