body {
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .navbar {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: lavender;
        display: flex;
        justify-content: space-evenly;
        padding: 10px 15px;
        opacity: 0.6;
        align-items: center;
        z-index: 2;

        .logo {
            display: flex;
            cursor: pointer;
        }
        .menu {
            display: flex;
            color: red;
            div {
                margin-right: 15px;
                color: black;
                cursor: pointer;
                &:hover {
                    color: blue;
                }
            }
        }
        .login {
            display: flex;
            align-items: center;
            padding-right: 10px;
            cursor: pointer;

            .avatar {
                vertical-align: middle;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                text-align: right;
                margin-right: 5px;
            }
            .location {
                border-left: 1px solid black;
                padding-left: 10px;
                display: flex;
            }
        }
    }
    .content {
        display: flex;
        flex-direction: column;

        .content-top {
            background-image: url("/components/details/image/singer.jpg");
            box-shadow: 10px 60px 50px 10px red inset;
            opacity: 0.9;
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            z-index: 1;
            .content-top-main {
                width: 50%;
                margin: 0 auto;
                margin-top: 250px;
                height: 100%;
                display: flex;
                align-content: center;
                min-height: 700px;

                
                .image {
                    display: flex;
                    flex:1;
                    justify-content: center;

                }

                .film-name {
                    display: flex;
                    flex:1;
                    font-weight: bold;
                    color: whitesmoke;
                    flex-direction: column;
                    font-size: 18px;
                    padding-top: 100px;
                }
               
                .rate {
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    flex-direction: column;
                    padding-top: 80px;

                    flex:1;
                    
                    .vote {
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                    }
                }
            }
        }
        .content-bottom {
            height: 100%;
            width: 100%;
            background: rgb(105, 21, 49);
            background: linear-gradient(
                69deg,
                rgba(105, 21, 49, 1) 0%,
                rgba(12, 8, 56, 1) 40%,
                rgba(116, 25, 57, 1) 98%
            );
            .content-bottom-main {
                width: 50%;
                height: 100%;
                margin: 0 auto;
                display: flex;
                font-size: 24px;
                color: whitesmoke;
                font-weight: bold;
                flex-direction: column;
            }
        }
    }
    .footer {
        height: 100%;
        width: 100%;

        background: rgb(105, 21, 49);
        background: linear-gradient(69deg, rgba(105, 21, 49, 1) 0%, rgba(86, 40, 181, 1) 53%, rgba(116, 25, 57, 1) 98%);
        .footer-top {
            width: 50%;
            height: 100%px;
            margin: 0 auto;
            display: flex;
            font-size: 24px;
            color: whitesmoke;
            font-weight: bold;
            border-bottom: 1px solid black;
            .items {
                vertical-align: middle;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                text-align: right;
                margin-right: 5px;
                background-color: blue($color: #000000);
                &:hover {
                    cursor: pointer;
                    opacity: 0.5;
                }
            }
        }
        .footer-bottom {
            width: 50%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            font-size: 24px;
            color: whitesmoke;
            font-weight: bold;
        }
    }
}

table,
th,
td {
    border-collapse: collapse;
    font-size: 16px;
    color: whitesmoke;
    margin-bottom: 50px;
}
th,
td,
tr {
    text-align: justify;
}
.normal {
    table,
    th,
    td {
        border-collapse: collapse;
        font-size: 14px;
        padding: 10px;
    }
    th,
    td {
        text-align: left;
    }
}
.text-normar {
    font-weight: 100;
}
