body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.wrapper .navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: lavender;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 15px;
  opacity: 0.6;
  align-items: center;
  z-index: 2;
}
.wrapper .navbar .logo {
  display: flex;
  cursor: pointer;
}
.wrapper .navbar .menu {
  display: flex;
  color: red;
}
.wrapper .navbar .menu div {
  margin-right: 15px;
  color: black;
  cursor: pointer;
}
.wrapper .navbar .menu div:hover {
  color: blue;
}
.wrapper .navbar .login {
  display: flex;
  align-items: center;
  padding-right: 10px;
  cursor: pointer;
}
.wrapper .navbar .login .avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: right;
  margin-right: 5px;
}
.wrapper .navbar .login .location {
  border-left: 1px solid black;
  padding-left: 10px;
  display: flex;
}
.wrapper .content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.wrapper .content .content-top {
  background-image: url("/components/details/image/singer.jpg");
  box-shadow: 10px 60px 50px 10px red inset;
  opacity: 0.9;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.wrapper .content .content-top .content-top-main {
  width: 50%;
  margin: 0 auto;
  margin-top: 250px;
  height: calc(100% - 250px);
  display: flex;
  align-content: center;
}
.wrapper .content .content-top .content-top-main .film-name {
  height: 400px;
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  align-content: center;
  padding-left: 20px;
  font-weight: bold;
  color: whitesmoke;
}
.wrapper .content .content-top .content-top-main .rate {
  width: 350px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
}
.wrapper .content .content-top .content-top-main .rate .vote {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 5px;
  display: flex;
}
.wrapper .content .content-bottom {
  height: 100%;
  width: 100%;
  background: #691531;
  background: linear-gradient(69deg, #691531 0%, #0c0838 40%, #741939 98%);
  padding: 100px;
}
.wrapper .content .content-bottom .content-bottom-main {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  font-size: 24px;
  color: whitesmoke;
  font-weight: bold;
  flex-direction: column;
}
.wrapper .content .footer {
  height: 100;
  width: 100%;
  background: #691531;
  background: linear-gradient(69deg, #691531 0%, #5628b5 53%, #741939 98%);
}
.wrapper .content .footer .footer-top {
  width: 50%;
  height: 310px;
  margin: 0 auto;
  display: flex;
  font-size: 24px;
  color: whitesmoke;
  font-weight: bold;
  border-bottom: 1px solid black;
}
.wrapper .content .footer .footer-top .items {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: right;
  margin-right: 5px;
  background-color: 0;
}
.wrapper .content .footer .footer-top .items:hover {
  cursor: pointer;
  opacity: 0.5;
}
.wrapper .content .footer .footer-bottom {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  font-size: 24px;
  color: whitesmoke;
  font-weight: bold;
}

table,
th,
td {
  border-collapse: collapse;
  font-size: 16px;
  color: whitesmoke;
  margin-bottom: 50px;
}

th,
td,
tr {
  text-align: justify;
}

.normal table,
.normal th,
.normal td {
  border-collapse: collapse;
  font-size: 14px;
  padding: 10px;
}
.normal th,
.normal td {
  text-align: left;
}

.text-normar {
  font-weight: 100;
}

/*# sourceMappingURL=output.css.map */
